
.container {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-content {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slide-content .image-wrapper {
  width: 60%;
  height: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-content .image-wrapper img {
  width: auto;
  height: 100%;
}